@model IEnumerable<FADemo.Models.BaseInformation.AssetAlterMode>

@{
    ViewData["Title"] = "AssetAlterModeIndex";
}

<h1>AssetAlterModeIndex</h1>

<p>
    <a asp-action="AssetAlterModeCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetAlterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetAlterDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetAlterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetAlterDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdd)
                </td>
                @*             <td>
            <a asp-action="Edit" asp-route-id="@item.AssetAlterModeId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AssetAlterModeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AssetAlterModeId">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>
